/* App background */
.stApp{
    background: linear-gradient(
        135deg,
        #ecfeff 0%,
        #d1fae5 45%,
        #f0fdfa 100%
    );
    min-height:100vh;
    font-family:'Segoe UI', sans-serif;
}

/* Global text */
body, p, span, label, div, li{
    color:#064e3b !important;
    opacity:1 !important;
}

/* Headings */
h1, h2, h3, h4, h5, h6{
    color:#022c22 !important;
    font-weight:800;
}

/* Cards */
.card{
    background: linear-gradient(
        135deg,
        #ffffff,
        #ccfbf1
    );
    padding:26px;
    border-radius:18px;
    box-shadow:0 14px 28px rgba(6,78,59,0.18);
    margin-bottom:26px;
}

/* Dataset table */
[data-testid="stDataFrame"]{
    background: linear-gradient(
        135deg,
        #ecfeff,
        #ccfbf1
    );
    border-radius:14px;
    padding:10px;
    box-shadow:0 10px 22px rgba(6,78,59,0.18);
}

/* Table header */
[data-testid="stDataFrame"] th{
    background:#99f6e4 !important;
    color:#022c22 !important;
    font-weight:700;
    border-bottom:1px solid #5eead4;
}

/* Table body cells */
[data-testid="stDataFrame"] td{
    background:#ecfeff !important;
    color:#022c22 !important;
    border-bottom:1px solid #ccfbf1;
}

/* Metric cards */
div[data-testid="metric-container"]{
    background: linear-gradient(
        135deg,
        #99f6e4,
        #5eead4
    );
    border-radius:16px;
    padding:18px;
    box-shadow:0 8px 20px rgba(6,78,59,0.28);
}

div[data-testid="metric-container"] *{
    color:#022c22 !important;
}

/* Prediction box */
.prediction-box{
    background: linear-gradient(
        135deg,
        #2dd4bf,
        #14b8a6
    );
    padding:22px;
    border-radius:22px;
    text-align:center;
    font-size:22px;
    font-weight:800;
    color:#022c22 !important;
    margin-top:15px;
    box-shadow:
        0 10px 26px rgba(6,78,59,0.35),
        0 0 0 2px rgba(20,184,166,0.35);
}
